body {
	margin: 0;
	padding: 0;
	overflow: hidden;
	box-sizing: border-box;
	border: 1px solid black;
	background-color: rgb(255, 255, 255);
	width: 100vw;
	height: 100vh;
}
#backgroundVid{
	z-index: -10000;
	position: fixed;
}
#backButton {
	font-family: supplycenter;
	width: 5rem;
	height: 2.5rem;
	margin: 1rem;
	padding: 0.5rem;
	border: 1px solid black;
	text-align: center;
	align-content: center;
	border-radius: 1rem;
	color: dimgrey;
	background-color: wheat;
	cursor: pointer;
	transition: 0.15s;
	z-index: 1000;
	position: absolute;
}
#backButton:hover {
	background-color: cornsilk;
	scale: 1.1;
}
